MYSQL_DSN=mysql://your_user:your_password@rm-xxxx.mysql.rds.aliyuncs.com:3306
SQL_DIR=./sql
MYSQL_CHARSET=utf8mb4
DISABLE_FOREIGN_KEY_CHECKS=true
IGNORE_DATABASES=gtt,order
EXPORT_DATABASES=gtt,order
EXPORT_SQL_DIR=./export_sql
